= render "shared/header"
.wrapper
  = render "shared/side"
  = render "shared/profile"

= render "shared/showModal"
= render "shared/popup"


%a.btn{"aria-hidden": "true", "data-content_div_id": "hogehoge_content", "data-placement": "top", "data-toggle": "popover"} ll

/ ポップオーバー内表示用html
#hogehoge_content{style:"display:none;"}
  ほげほげ
  %br/
  ふがふが
  =link_to "編集", "#" , class: "button_tweet btn-modal"


