.footer
  = link_to '#' do
    = image_tag('banner_membership_male.png', class: "banner")
  %nav.footer__navi
    %ul
      %li.navi__item
        = link_to "Pairsとは", '#'
      %li.navi__item
        = link_to "幸せレポート", '#'
      %li.navi__item
        = link_to "安心の常時監視体制", '#'
      %li.navi__item
        = link_to "安心のセキュリティ", '#'
      %li.navi__item
        = link_to "ヘルプ", '#'
      %li.navi__item
        = link_to "お問い合わせ", '#'
    %ul
      %li.navi__item
        = link_to "会社概要", '#'
      %li.navi__item
        = link_to "利用規約", '#'
      %li.navi__item
        = link_to "安心・安全の取り組みとガイド", '#'
      %li.navi__item
        = link_to "プライバシーポリシー", '#'
      %li.navi__item
        = link_to "特定商取引法に基づく表示", '#'
  .footer__label
    .box__label
      = link_to '#' do
        = image_tag('truste_ja.png', class: "truste")
      = link_to '#' do
        = image_tag('image_hdi_ja.png', class: "hdi")
      = link_to '#' do
        = image_tag('geotrust.png', class: "geotrust")
  %p.footer__approved
    インターネット異性紹介事業 届出済み (受理番号30130004015)
  %p.footer__copyright
    (c) eureka, inc,
