#image_modal.modal.fade{"role": "dialog"}
  .modal-dialog.modal-lg{"role": "document"}
    #image_content.modal-content
      .box_search_form
        = image_tag("button_close.png", class: "modal-close modal_close", "data-dismiss": "modal")
        = form_for current_user ,html: {class: 'box_modal_inner_image'} do |f|
          %p.modal_image_edit
            メイン写真の編集

          .modal_image_edit_photo_status
            .edit_user_main_photo
              = image_tag(current_user.main_avatar, class: "modal_image_edit_photo")

          .modal_image_edit_image_button_area
            =link_to "ファイルから選ぶ", '#' , class: "button_edit_image"
            = f.file_field :avatar, class: "button_edit_image" , style: "appearance: none;"


          %p.modal_sub_image_edit
            サブ写真の追加・削除
          %ul.modal_photo_edit_list
            %li.modal_photo_edit_box
              = image_tag(image_preview1(current_user), class: "modal_sub_image_edit_photo")
              = f.file_field :sub_image1, class: "hidden"
            %li.modal_photo_edit_box
              = image_tag(image_preview2(current_user), class: "modal_sub_image_edit_photo")
              = f.file_field :sub_image2, class: "hidden"
            %li.modal_photo_edit_box
              = image_tag(image_preview3(current_user), class: "modal_sub_image_edit_photo")
              = f.file_field :sub_image3, class: "hidden"
            %li.modal_photo_edit_box
              = image_tag(image_preview4(current_user), class: "modal_sub_image_edit_photo")
              = f.file_field :sub_image4, class: "hidden"
          .modal_image_edit_image_button_area
            = f.submit "submit" , class: "button_edit_image"



