.overlay#overlay

.modal.js-modal{"data-id": "profile_modal",style:"width: 755px;min-height:1700px;"}
  %button.close{"data-dismiss": "modal", type: "button"}
    = image_tag("button_close.png", class: "button_close", width: "40px")
  .modal-body
    .box_personal_detail__01
      .personal_detail_inner_left
        %ul.user_status_list
          %li.user_status_item
            最終ログイン:
            %span.user_login 24時間
          %li.user_status_item user_chemistry
          %li.user_like_count いいね

        .user_tweet_edit
          %p.detail_sub_title
            %span.title_a プロフィール
          %dl.detail_item_list

            %dt.detail_item_title
              %span.item_title 年齢
            %dd.detail_item_value 31歳

            %dt.detail_item_title
              %span.item_title 居住地
            %dd.detail_item_value 兵庫

            %dt.detail_item_title
              %span.item_title 身長
            %dd.detail_item_value 160cm

            %dt.detail_item_title
              %span.item_title 体型
            %dd.detail_item_value ややぽっちゃり

            %dt.detail_item_title
              %span.item_title 学歴
            %dd.detail_item_value 大学卒

            %dt.detail_item_title
              %span.item_title 職種
            %dd.detail_item_value アルバイト

            %dt.detail_item_title
              %span.item_title 年収
            %dd.detail_item_value 200万円

            %dt.detail_item_title
              %span.item_title 血液型
            %dd.detail_item_value O型

            %dt.detail_item_title
              %span.item_title 同居人
            %dd.detail_item_value 一人暮らし

            %dt.detail_item_title
              %span.item_title 好きなこと・趣味
            %dd.detail_item_value 文通,藍染,家庭菜園

          .box_link_more
            =link_to "もっと見る", root_path , class: "button_more"
      .personal_detail_inner_right
        .my_display_photo
          .my_display_photo__title
            %p.photo メイン・サブ写真
            =link_to "写真編集", '#' , class: "button_photo"
          .my_display_photo__summary
            = image_tag("img03899.jpg", class: "photo_summary")
          .my_display_photo__box
            .box_my_photo
              %ul.my_phto_list
                %li
                  = image_tag("img03899.jpg", class: "photo_item")
                %li.photo_item
                  = image_tag("no_image.jpg", class: "photo_item")
                %li.photo_item
                  = image_tag("no_image.jpg", class: "photo_item")
                %li.photo_item
                  = image_tag("no_image.jpg", class: "photo_item")
          .my_photo_pager
            =link_to "前の4枚", root_path , class: "button_before"
            =link_to "後の4枚", root_path , class: "button_after"



    .box_personal_detail__02
      .personal_detail_inner_left

        %p.detail_sub_title
          %span.title_a 詳細プロフィール

        %p.detail_sub_title 基本情報
        %dl.detail_item_list

          %dt.detail_item_title
            %span.item_title ニックネーム
          %dd.detail_item_value Polarizer45lc

          %dt.detail_item_title
            %span.item_title 年齢
          %dd.detail_item_value 25歳

          %dt.detail_item_title
            %span.item_title 兄弟姉妹
          %dd.detail_item_value 長男

          %dt.detail_item_title
            %span.item_title 国籍
          %dd.detail_item_value 日本

          %dt.detail_item_title
            %span.item_title 話せる言語
          %dd.detail_item_value 日本語,英語

        %p.detail_sub_title 恋愛・結婚について
        %dl.detail_item_list

          %dt.detail_item_title
            %span.item_title 結婚歴
          %dd.detail_item_value 一生独身

          %dt.detail_item_title
            %span.item_title 子どもの有無
          %dd.detail_item_value 無

          %dt.detail_item_title
            %span.item_title 結婚に対する意思
          %dd.detail_item_value 無

          %dt.detail_item_title
            %span.item_title 子どもが欲しいか
          %dd.detail_item_value いいえ

          %dt.detail_item_title
            %span.item_title 子どもの有無
          %dd.detail_item_value 無

          %dt.detail_item_title
            %span.item_title 家事・育児
          %dd.detail_item_value 家事は得意分野

          %dt.detail_item_title
            %span.item_title 出会うまでの希望
          %dd.detail_item_value 出会いません!

          %dt.detail_item_title
            %span.item_title 初回デート費用
          %dd.detail_item_value デート致しません!

        %p.detail_sub_title 性格・趣味・生活
        %dl.detail_item_list

          %dt.detail_item_title
            %span.item_title 性格・タイプ
          %dd.detail_item_value 変人

          %dt.detail_item_title
            %span.item_title 社交性
          %dd.detail_item_value プライベートでは皆無

          %dt.detail_item_title
            %span.item_title 同居人
          %dd.detail_item_value 独り暮らし

          %dt.detail_item_title
            %span.item_title 休日
          %dd.detail_item_value 土日祝

          %dt.detail_item_title
            %span.item_title お酒
          %dd.detail_item_value 安酒は飲まない

          %dt.detail_item_title
            %span.item_title 趣味
          %dd.detail_item_value 洋裁,カメラ,芸術鑑賞,シューティング

      .personal_detail_inner_right
        .join_community
          .join_community__title
            %span.title_b 参加しているコミュニティ
            =link_to "新しいコミュニティに入る", root_path , class: "button_community"
          %ul.join_community__list
            %li.about_community
              コミュニティに参加して、
              %br 共通の趣味や好みの相手とつながろう!
              %br
              =link_to "コミュニティとは?", "#", class: "btn-modal" ,"data-id": "community_modal", style:"display: inline-block;text-decoration:underline;color:#00abb3;"
        .personal_introduction
          %p.introduction_title
            %span.title_b 自己紹介文
            =link_to "編集", "#" , class: "button_introduction"
          %p.introduction_note
            自己紹介文を充実させると、
            %em マッチング率10倍UP!
          %p.introduction_text 自己紹介文はまだ入力されておりません。



