.box_mypage_detail

  .box_mypage_detail__01
    .mypage_detail_inner_left
      .user_status
        .user_status__title
          %p.status
            会員ステータス
          =link_to "確認", root_path , class: "button_status"
        %p.user_status__label 無料会員
      .user_tweet
        .user_tweet__title
          %p.tweet
            つぶやき
          =link_to "ルール", root_path , style:"display: inline-block;text-decoration:underline;color: #00abb3;font-size:8px"
          =link_to "編集", root_path , class: "button_tweet"
        .user_tweet__inner
          .user_tweet_textarea
            %p.user_tweet_text はじめまして!
            %p.user_tweet_note
              あと３回まで変更できます。(１日３回まで)
      .visiter_summary
        .visiter_summary__title
          %p.title
            足あと
        .visiter_summary__count
          %p.text 過去一週間の足あと
          %p.count 9726人
        %ul.user_list
          %li.user_item
            = image_tag("no_image_lady.jpg", class: "image-circle")
            %p.user_info 25歳 奈良
            %p.user_time 19:00
          %li.user_item
            = image_tag("no_image_lady.jpg", class: "image-circle")
            %p.user_info 25歳 奈良
            %p.user_time 19:00
          %li.user_item
            = image_tag("no_image_lady.jpg", class: "image-circle")
            %p.user_info 25歳 奈良
            %p.user_time 19:00
          %li.user_item
            = image_tag("no_image_lady.jpg", class: "image-circle")
            %p.user_info 25歳 奈良
            %p.user_time 19:00

        .box_link_more
          =link_to "もっと見る", root_path , class: "button_more"
    .mypage_detail_inner_right
      .my_display_photo
        .my_display_photo__title
          %p.photo メイン・サブ写真
          =link_to "写真編集", root_path , class: "button_photo"
        .my_display_photo__summary
          = image_tag("img03899.jpg", class: "photo_summary")
        .my_display_photo__box
          .box_my_photo
            %ul.my_phto_list
              %li
                = image_tag("img03899.jpg", class: "photo_item")
              %li.photo_item
                = image_tag("no_image.jpg", class: "photo_item")
              %li.photo_item
                = image_tag("no_image.jpg", class: "photo_item")
              %li.photo_item
                = image_tag("no_image.jpg", class: "photo_item")
        .my_photo_pager
          =link_to "前の4枚", root_path , class: "button_before"
          =link_to "後の4枚", root_path , class: "button_after"



  .box_mypage_detail__02
    .mypage_detail_inner_left
      %p.detail_sub_note 項目を選択すると編集できます
      %p.detail_sub_title
        %span.title_a Pairsプロフィール
      %dl.detail_item_list{style:"border-bottom: 1px solid #e1e3e5;"}

        %dt.detail_item_title
          %span.item_title 身長
        %dd.detail_item_value 166cm

        %dt.detail_item_title
          %span.item_title 体型
        %dd.detail_item_value ややぽっちゃり

        %dt.detail_item_title
          %span.item_title 血液型
        %dd.detail_item_value O型

        %dt.detail_item_title
          %span.item_title 居住地
        %dd.detail_item_value 東京

        %dt.detail_item_title
          %span.item_title 出身地
        %dd.detail_item_value 奈良

        %dt.detail_item_title
          %span.item_title 職種
        %dd.detail_item_value 前衛芸術家,洋裁家,写真家,プログラマー

        %dt.detail_item_title
          %span.item_title 学歴
        %dd.detail_item_value 理系大学卒業

        %dt.detail_item_title
          %span.item_title 年収
        %dd.detail_item_value 1911万円

        %dt.detail_item_title
          %span.item_title タバコ
        %dd.detail_item_value 基本吸わない
      %p.detail_sub_title
        %span.title_a 詳細プロフィール
      %p.detail_sub_title 基本情報
      %dl.detail_item_list

        %dt.detail_item_title
          %span.item_title ニックネーム
        %dd.detail_item_value Polarizer45lc

        %dt.detail_item_title
          %span.item_title 年齢
        %dd.detail_item_value 25歳

        %dt.detail_item_title
          %span.item_title 兄弟姉妹
        %dd.detail_item_value 長男

        %dt.detail_item_title
          %span.item_title 国籍
        %dd.detail_item_value 日本

        %dt.detail_item_title
          %span.item_title 話せる言語
        %dd.detail_item_value 日本語,英語

      %p.detail_sub_title 恋愛・結婚について
      %dl.detail_item_list

        %dt.detail_item_title
          %span.item_title 結婚歴
        %dd.detail_item_value 一生独身

        %dt.detail_item_title
          %span.item_title 子どもの有無
        %dd.detail_item_value 無

        %dt.detail_item_title
          %span.item_title 結婚に対する意思
        %dd.detail_item_value 無

        %dt.detail_item_title
          %span.item_title 子どもが欲しいか
        %dd.detail_item_value いいえ

        %dt.detail_item_title
          %span.item_title 子どもの有無
        %dd.detail_item_value 無

        %dt.detail_item_title
          %span.item_title 家事・育児
        %dd.detail_item_value 家事は得意分野

        %dt.detail_item_title
          %span.item_title 出会うまでの希望
        %dd.detail_item_value 出会いません!

        %dt.detail_item_title
          %span.item_title 初回デート費用
        %dd.detail_item_value デート致しません!

      %p.detail_sub_title 性格・趣味・生活
      %dl.detail_item_list

        %dt.detail_item_title
          %span.item_title 性格・タイプ
        %dd.detail_item_value 変人

        %dt.detail_item_title
          %span.item_title 社交性
        %dd.detail_item_value プライベートでは皆無

        %dt.detail_item_title
          %span.item_title 同居人
        %dd.detail_item_value 独り暮らし

        %dt.detail_item_title
          %span.item_title 休日
        %dd.detail_item_value 土日祝

        %dt.detail_item_title
          %span.item_title お酒
        %dd.detail_item_value 安酒は飲まない

        %dt.detail_item_title
          %span.item_title 趣味
        %dd.detail_item_value 洋裁,カメラ,芸術鑑賞,シューティング

    .mypage_detail_inner_right
      .join_community
        .join_community__title
          %span.title_b 参加しているコミュニティ
          =link_to "新しいコミュニティに入る", root_path , class: "button_community"
        %ul.join_community__list
          %li.about_community
            コミュニティに参加して、
            %br 共通の趣味や好みの相手とつながろう!
            %br
            =link_to "コミュニティとは?", root_path, style:"color: #00abb3;"
      .mypage_introduction
        %p.introduction_title
          %span.title_b 自己紹介文
          =link_to "編集", root_path , class: "button_introduction"
        %p.introduction_note
          自己紹介文を充実させると、
          %em マッチング率10倍UP!
        %p.introduction_text 自己紹介文はまだ入力されておりません。


