#overlay.overlay

#modal_search.modal.js-modal{"data-id": "modal-search"}
  .modal-body
    .box_search_form
      %button.close{"data-dismiss": "modal", type: "button"}
        = image_tag("button_close.png", class: "button_close", width: "40px")
      %ul
        %li.search_title.w100p
          %a あなたの検索条件
      = form_tag ("#") do |f|
        .search_form_inner
          %p.box_search_reset
            = link_to "検索条件をリセットする", "#", id: "resetSearchBtn", class: "btn_f btn_white_a"
          %table#search_table
            %tbody
              %tr
                %th 年齢
                %td#age.search_age
                  = select_tag :birthday, options_for_select(18..65), class: "hasCustomSelect search-select-age", include_blank: "こだわらない"
                  %span.custom_select
                    %span.custom_select_inner こだわらない
                  %span 〜
                  = select_tag :birthday, options_for_select(18..65), class: "hasCustomSelect search-select-age", include_blank: "こだわらない"
                  %span.custom_select
                    %span.custom_select_inner こだわらない
              %tr
                %th 居住地
                %td#residence.search_residence
                  .form_block
                    = select_tag :residence_id, options_from_collection_for_select(Region.all, :id, :name), class: "hasCustomSelect search-select-residence", include_blank: "こだわらない"
                    %span.custom_select
                      %span.custom_select_inner こだわらない
              %tr
                %th 職業
                %td こだわらない
              %tr
                %th 学歴
                %td こだわらない
              %tr
                %th 身長
                %td こだわらない
              %tr
                %th タバコ
                %td こだわらない
              %tr
                %th
                  お酒
                  %p.note
                    複数可
                %td こだわらない
              %tr
                %th 体型
                %td こだわらない
              %tr
                %th 年収
                %td こだわらない
              %tr
                %th 最終ログイン
                %td こだわらない
              %tr
                %th
                  同居人
                  %p.note
                    複数可
                %td こだわらない
              %tr
                %th
                  休日
                  %p.note
                    複数可
                %td こだわらない
              %tr
                %th 出身地
                %td こだわらない
          %ul.box_search_btn
            %li.search_btn.w20p
              %p.btn_a.btn_white_a
                = link_to "キャンセル", "#"
            %li.search_btn.w40p
              %p.btn_a.btn_blue_a
                = link_to "この条件で検索する", "#"
