#overlay.overlay

.modal.js-modal{"data-id": "modal-search", style: "width:680px; height:880px;"}
  .modal-body
    .box_search-view
      %button.close{"data-dismiss": "modal", type: "button"}
        = image_tag("button_close.png", class: "button_close", width: "40px")
      %ul
        %li.search_title
          あなたの検索条件
      .form
      = form_tag("#") do |f|
        .search_inner
          %p.box_search-reset
            = link_to "検索条件をリセットする", "#", id: "resetSearchBtn", class: "btn_f btn_white_a"
          %table.search_table
            %tbody
              %tr
                %th 年齢
                %td.select_box
                  = select_tag :birthday, options_for_select(18..65), {include_blank:"こだわらない"}
                  %span.select_custom
                    こだわらない
                  %span 〜
                  = select_tag :birthday, options_for_select(18..65), {include_blank:"こだわらない"}
                  %span.select_custom
                    こだわらない
              %tr
                %th 居住地
                %td
                  .select_custom
              %tr
                %th 職業
                %td こだわらない
              %tr
                %th 学歴
                %td こだわらない
              %tr
                %th 身長
                %td こだわらない
              %tr
                %th タバコ
                %td こだわらない
              %tr
                %th
                  お酒
                  %p.note
                    複数可
                %td こだわらない
              %tr
                %th 体型
                %td こだわらない
              %tr
                %th 年収
                %td こだわらない
              %tr
                %th 最終ログイン
                %td こだわらない
              %tr
                %th
                  同居人
                  %p.note
                    複数可
                %td こだわらない
              %tr
                %th
                  休日
                  %p.note
                    複数可
                %td こだわらない
              %tr
                %th 出身地
                %td こだわらない
              %tr
                %td{ colspan:"2" }
                  %p.search_more
                    = link_to "更に詳しい条件を設定する", "#"
          %ul.box_search-btn
            %li.search-btn.w20p
              %p.btn_a.btn_white_a
                = link_to "キャンセル", "#"
            %li.search-btn.w40p
              %p.btn_a.btn_blue_a
                = link_to "この条件で検索する", "#"
