.user__list
  %ul
    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              お友達から仲良くしてください。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"

    %li.user__view
      .user__avatar
        = link_to '#' do
          = image_tag('no-image__woman.png')
      .user__info
        .user__info01
          %p.user__data
            %span.user__login
            %span.area{ limit_length: '5' }
              大阪
            %span.age
              25歳
        .user__info02
          %p.chemistry
            0%
          %p.like__count
            %span
              %em
                ？
          .tweet__box
            .tweet__body{ limit_length: '22' }
              22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。22文字以上打つとどうなるでしょうか。
        .like__box
          .btn__zone
            = link_to "いいね！", '#', class: "like__btn btn__pink"
