%li.list_view_user_item
  .list_view_user_avatar
    = link_to image_tag('no-image__woman.png', class: "user_photo"), user_path(user), remote: true
  .box_user_info
    .box_user_info01
      %p.user_summary
        %span.isLogIn10min
        %span.user_area{ limit_length: '5' }
          = user.residence.name
        %span.user_age #{age(user[:birthday])}歳
    .box_user_info02
      %p.user_chemistry 0%
      %p.user_like_count
        %span
          %em ？
      .user_tweet{ limit_length: "22" }
        .user_tweet_body
          = user.tweet
    .box_button_like
      #like_button_zone{ id: user.id }
        = render 'shared/follow', user: user
