%li.user__view
  .user__avatar
    = link_to user_path(user), class: "btn-modal", "data-id": "profile_modal" do
      = image_tag('no-image__woman.png')
  .user__info
    .user__info01
      %p.user__data
        %span.user__login
        %span.area{ limit_length: '5' }
          = user.residence.name
        %span.age
          = age(user[:birthday])
    .user__info02
      %p.chemistry
        0%
      %p.like__count
        %span
          %em
            ？
      .tweet__box
        .tweet__body{ limit_length: '22' }
          = user.tweet
    .like__box
      .btn__zone
        - if current_user.following?(user)
          = link_to "いいね済み", '#', class: "like__btn btn__pink"
        - else
          -if user.following?(current_user)
            いいねありがとう
          -else
            いいね
          = render 'shared/follow', user: user,  class: "like__btn btn__pink"
